@model Canaro_Trello.Models.TaskDTO

@{
    ViewBag.Title = "Edit Task";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section PageTitle{
    <div class="w3-padding-16 w3-center">
        <h1 class="w3-serif">Edit task</h1>
    </div>
}

@using (Html.BeginForm("EditTask", "Tasks", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="w3-container">
        <h4>Complete the fields required to add a new task </h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.TaskId)
        <p>

            @{
                if (Session["CanaroAuthRole"].Equals(Canaro_Trello.Models.Roles.ADMIN))
                {
                    @Html.LabelFor(model => model.UserIdString, htmlAttributes: new { @class = "w3-text-teal w3-indent" })
                    IEnumerable<SelectListItem> nameList = ViewBag.userName;
                    @Html.DropDownList("UserIdString", nameList, htmlAttributes: new { @class = "w3-input w3-border w3-border-teal w3-round-large" })
                    @Html.ValidationMessageFor(model => model.UserIdString, "", new { @class = "text-danger" })

                }
                else if (Session["CanaroAuthRole"].Equals(Canaro_Trello.Models.Roles.NORMAL_USER))
                {
                    @Html.LabelFor(model => model.UserId, htmlAttributes: new { @class = "w3-text-teal w3-indent" })
                    @Html.TextBoxFor(x => Session["CanaroAuthUser"], new { @class = "w3-input w3-border w3-border-teal w3-round-large", @readonly = "readonly" })

                }
            }
        </p>
        <p>
            @Html.LabelFor(model => model.TaskTitle, htmlAttributes: new { @class = "w3-text-teal w3-indent" })<span class="w3-text-teal">*</span>
            @Html.EditorFor(model => model.TaskTitle, new { htmlAttributes = new { @class = "w3-input w3-border w3-border-teal w3-round-large" } })
            @Html.ValidationMessageFor(model => model.TaskTitle, "", new { @class = "text-danger" })
        </p>
        <p>
            @{
                @Html.LabelFor(model => model.ProjectIdString, htmlAttributes: new { @class = "w3-text-teal w3-indent" })
                IEnumerable<SelectListItem> projectList = ViewBag.projectList;
                @Html.DropDownList("ProjectIdString", projectList, htmlAttributes: new { @class = "w3-input w3-border w3-border-teal w3-round-large" })
                @Html.ValidationMessageFor(model => model.ProjectIdString, "", new { @class = "text-danger" })
            }
        </p>
        <p>
            @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "w3-text-teal w3-indent" })
            @Html.EnumDropDownListFor(model => model.State, htmlAttributes: new { @class = "w3-input w3-border w3-border-teal w3-round-large" })
            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
        </p>

        <p>
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "w3-text-teal w3-indent" })<span class="w3-text-teal">*</span>
            @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "w3-input w3-border w3-border-teal w3-round-large" } })
            @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
        </p>

        <p>
            @Html.LabelFor(model => model.Priority, htmlAttributes: new { @class = "w3-text-teal w3-indent" })
            @Html.EnumDropDownListFor(model => model.Priority, htmlAttributes: new { @class = "w3-input w3-border w3-border-teal w3-round-large" })
            @Html.ValidationMessageFor(model => model.Priority, "", new { @class = "text-danger" })
        </p>

        <p>
            @Html.LabelFor(model => model.TaskStardDate, htmlAttributes: new { @class = "w3-text-teal w3-indent" })<span class="w3-text-teal">*</span>
            @Html.TextBoxFor(model => model.TaskStardDate, "{0:MM/dd/yyyy}", htmlAttributes: new { @class = "w3-input w3-border w3-border-teal w3-round-large", @value = Model.TaskStardDate })
            @Html.ValidationMessageFor(model => model.TaskStardDate, "", new { @class = "text-danger" })
        </p>

        <p>
            @Html.LabelFor(model => model.TaskEndDate, htmlAttributes: new { @class = "w3-text-teal w3-indent" })
            @Html.TextBoxFor(model => model.TaskEndDate, "{0:MM/dd/yyyy}", htmlAttributes: new { @class = "w3-input w3-border w3-border-teal w3-round-large", @value = Model.TaskEndDate })
            @Html.ValidationMessageFor(model => model.TaskEndDate, "", new { @class = "text-danger" })
        </p>

        <p>
            @Html.LabelFor(model => model.EstimatedTime, htmlAttributes: new { @class = "w3-text-teal w3-indent" })<span class="w3-text-teal">*</span>
            @Html.EditorFor(model => model.EstimatedTime, new { htmlAttributes = new { @class = "w3-input w3-border w3-border-teal w3-round-large" } })
            @Html.ValidationMessageFor(model => model.EstimatedTime, "", new { @class = "text-danger" })
        </p>

        <p>
            @Html.LabelFor(model => model.TaskDescription, htmlAttributes: new { @class = "w3-text-teal w3-indent" })
            @Html.EditorFor(model => model.TaskDescription, new { htmlAttributes = new { @class = "w3-input w3-border w3-border-teal w3-round-large" } })
            @Html.ValidationMessageFor(model => model.TaskDescription, "", new { @class = "text-danger" })
        </p>

        <div class="w3-center">
            <input type="submit" value="Save changes" class="w3-btn w3-teal" />
            <div class="w3-btn w3-tarhon"><a href="/Tasks/GetTask?taskId=@Html.DisplayFor(modelItem => modelItem.TaskId)">Back to task</a></div>
        </div>
    </div>
}
