@model Canaro_Trello.Models.TaskDTO

@{
    ViewBag.Title = "Get Task";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section PageTitle{
    <div class="w3-padding-16 w3-center">
        <h1 class="w3-serif">Task details</h1>
    </div>
}

    <div class="w3-container">
        <div class="w3-container">
            <div class="w3-left"><h3 class="w3-serif">@Html.DisplayFor(model => model.TaskTitle)</h3></div>
            @{if (Session["CanaroAuthRole"].Equals(Canaro_Trello.Models.Roles.ADMIN))
                {
                <div class="w3-right">
                    <a href="/Tasks/EditTask?index=@Html.DisplayFor(modelItem => modelItem.TaskId)" title="Edit"><i class="material-icons" style="font-size:30px;color:black; padding-top: 10px">create</i></a>
                    <a href="/Tasks/DeleteTask?index=@Html.DisplayFor(modelItem => modelItem.TaskId)"><i class="material-icons" style="font-size:30px;color:black; padding-right: 10px" title="Delete">delete</i></a>
                </div>
                }
            }
        </div>
        <hr />

        <div>
            <h5 class="w3-indent">
                <b class="w3-text-teal">@Html.DisplayNameFor(model => model.AssignedUser.FirstName):</b>
                <a href="#">@Html.DisplayFor(model => model.AssignedUser.FirstName) @Html.DisplayFor(model => model.AssignedUser.LastName)</a>
            </h5>
        </div>

        <div>
            <h5 class="w3-indent">
                <b class="w3-text-teal">@Html.DisplayNameFor(model => model.Project):</b>
                <a href="/Projects/GetProject?index=@Html.DisplayFor(modelItem => modelItem.Project.ProjectId)">@Html.DisplayFor(modelItem => modelItem.Project.ProjectTitle)</a>
            </h5>
        </div>

        <div>
            <h5 class="w3-indent">
                <b class="w3-text-teal">@Html.DisplayNameFor(model => model.State):</b>
                @Html.DisplayFor(model => model.State)
            </h5>
        </div>

        <div>
            <h5 class="w3-indent">
                <b class="w3-text-teal">@Html.DisplayNameFor(model => model.Priority):</b>
                @Html.DisplayFor(model => model.Priority)
            </h5>
        </div>

        <div>
            <h5 class="w3-indent">
                <b class="w3-text-teal">@Html.DisplayNameFor(model => model.TaskStardDate):</b>
                @Html.DisplayFor(model => model.TaskStardDate)
            </h5>
        </div>

        <div>
            <h5 class="w3-indent">
                <b class="w3-text-teal">@Html.DisplayNameFor(model => model.TaskEndDate):</b>
                @Html.DisplayFor(model => model.TaskEndDate)
            </h5>
        </div>

        <div>
            <h5 class="w3-indent">
                <b class="w3-text-teal">@Html.DisplayNameFor(model => model.EstimatedTime):</b>
                @Html.DisplayFor(model => model.EstimatedTime)
            </h5>
        </div>

        <div>
            <h5 class="w3-indent"><b class="w3-text-teal">@Html.DisplayNameFor(model => model.TaskDescription):</b></h5>
            <div class="w3-panel w3-padding-32 w3-indent w3-round-large" style="background-color: #ffffc2;">
                @Html.DisplayFor(model => model.TaskDescription)
            </div>
        </div>

        <div class="w3-center">
            <div class="w3-btn w3-2021-rust "><a href="/Tasks/GetAllTasks">Back to tasks list</a></div>
        </div>
    </div>