@model Canaro_Trello.Models.TaskDTO

@{
    ViewBag.Title = "Get Task";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

@section PageTitle{
    <div class="w3-padding-16 w3-center">
        <h1 class="w3-serif">Task details</h1>
    </div>
}

<h2>Get Task</h2>

<div>
    <h4>Task</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AssignedUser.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AssignedUser.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Project.ProjectTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Project.ProjectTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Priority)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Priority)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskStardDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskStardDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskEndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskEndDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstimatedTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstimatedTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaskDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaskDescription)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TaskId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
