<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/utils")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <nav class="w3-bar w3-teal">
        <span class="w3-bar-item  w3-mobile menu-item w3-serif"><img src="../Images/logo.svg" alt="Logo Canaro Trello" width="34" /> &nbsp; @Html.ActionLink("Canaro Trello", "Index", "Home")</span>
        <span class="w3-bar-item w3-mobile menu-item w3-serif w3-padding-16">@Html.ActionLink("Activity ", "About", "Home")</span>
        <span class="w3-bar-item w3-mobile menu-item w3-serif w3-padding-16">@Html.ActionLink("Tasks", "GetAllTasks", "Tasks")</span>
        <span class="w3-bar-item w3-mobile menu-item w3-serif w3-padding-16">@Html.ActionLink("Projects", "GetAllProjects", "Projects")</span>
        <span class="w3-bar-item w3-mobile menu-item w3-serif w3-padding-16">@Html.ActionLink("My Profile", "Contact", "Home")</span>
        <span class="w3-bar-item w3-mobile hello-user w3-serif w3-padding-16 w3-right">
            <a href="/Login/Logout">Logout</a>
        </span>
        <span class="w3-bar-item w3-mobile hello-user w3-serif w3-padding-16 w3-right">Hello, @Session["CanaroAuthUser"]!</span>
    </nav>

    <div class="w3-row">
        <div class="w3-threequarter">

            <div class="main-content w3-card custom-body">
                @RenderBody()
            </div>
        </div>

        <div class="w3-quarter custom-div">

        </div>

    </div>

    <footer class="w3-container w3-teal w3-center">
        <p>&copy; @DateTime.Now.Year - Canaro Trello - Aplicatie pentru management task-uri. &copy; Socea Gabriel</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
