<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/utils")
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment-with-locales.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>
<body>
    <nav class="w3-bar w3-teal">
        <div class="hide-button">
            <button class="w3-button" onclick="toogleMenu();">
                <span class="w3-bar-item"><i class="material-icons" style="font-size:30px;color:white; position:relative; padding-top: 0px;">view_headline</i></span>
            </button>
        </div>
        <div class="toogle-menu" id="toogle-menu">
            <span class="w3-bar-item  w3-mobile menu-item w3-serif">
                <img src="../Images/logo.svg" alt="Logo Canaro Trello" width="34" /> &nbsp; @Html.ActionLink("Canaro Trello", "Index", "Home")
            </span>
            <span class="w3-bar-item w3-mobile menu-item w3-serif w3-padding-16">@Html.ActionLink("Activity ", "Activity", "Tasks")</span>
            <span class="w3-bar-item w3-mobile menu-item w3-serif w3-padding-16">@Html.ActionLink("Tasks", "GetAllTasks", "Tasks")</span>
            <span class="w3-bar-item w3-mobile menu-item w3-serif w3-padding-16">@Html.ActionLink("Projects", "GetAllProjects", "Projects")</span>
            <span class="w3-bar-item w3-mobile menu-item w3-serif w3-padding-16">@Html.ActionLink("My Profile", "MyProfile", "Users")</span>
            <span class="w3-bar-item w3-mobile hello-user w3-serif w3-padding-16 w3-right">
                <a href="/Login/Logout">Logout</a>
            </span>
            <span class="w3-bar-item w3-mobile hello-user w3-serif w3-padding-16 w3-right">Hello, @Session["CanaroAuthUser"]!</span>
        </div>
    </nav>
    <script>
        var isOpen = false;
        function toogleMenu() {
            if (isOpen == false) {
                document.getElementById("toogle-menu").style.display = "block";
                isOpen = true;
            } else {
                document.getElementById("toogle-menu").style.display = "none";
                isOpen = false;
            }
        }
        window.addEventListener('resize', reportWindowSize);
        function reportWindowSize() {
            if (window.innerWidth > 600) {
                document.getElementById("toogle-menu").style.display = "block";
            } else {
                document.getElementById("toogle-menu").style.display = "none";
            }
        }
    </script>
    @RenderSection("PageTitle", true)
    <div class="w3-row">
        <div class="w3-threequarter">

            <div class="main-content w3-card custom-body">
                @RenderBody()
            </div>
        </div>

        <div class="w3-quarter custom-div">
            <!--Last 5 tasks-->
            <div class="w3-card-4 aside-card">
                <header class="w3-container w3-teal">
                    <h3 class="w3-serif">Last added tasks  </h3>
                </header>
                <div class="w3-container w3-padding-16">
                    <div>
                        <ul id="getLastTasks" class="w3-ul">

                        </ul>
                    </div>
                    <script>
                        $.ajax({
                            url: '/Home/GetLast5Tasks',
                            type: 'GET',
                            async: false,
                            success: function (result) {
                                for (var i in result) {

                                    var liElem = document.createElement("li");
                                    var aLiElem = document.createElement("a");
                                    var spanLiElem = document.createElement("span");
                                    var textA = document.createTextNode(result[i].TaskTitle);
                                    var textSpan = document.createTextNode("X");
                                    liElem.setAttribute("class", "w3-display-container");
                                    spanLiElem.setAttribute("onclick", "this.parentElement.style.display='none'");
                                    spanLiElem.setAttribute("class", "w3-button w3-transparent w3-display-right");
                                    aLiElem.setAttribute("href", "/Tasks/GetTask?taskId=" + result[i].TaskId);
                                    aLiElem.setAttribute("style", "text-decoration: none;");

                                    spanLiElem.appendChild(textSpan);
                                    aLiElem.appendChild(textA);
                                    liElem.appendChild(aLiElem);
                                    liElem.appendChild(spanLiElem);
                                    document.getElementById("getLastTasks").appendChild(liElem);
                                }
                            }
                        });
                    </script>
                </div>
            </div>

            <!--Curs valutar-->
            <div class="w3-card-4 aside-card">
                <header class="w3-container w3-teal">
                    <h3 class="w3-serif">The most active users</h3>
                </header>
                <div class="w3-container w3-padding-16">
                    <div>
                        <ul id="getMostActiveUsers" class="w3-ul"></ul>
                    </div>
                    <script>
                        $.ajax({
                            url: '/Home/GetMostActiveUsers',
                            type: 'GET',
                            async: false,
                            success: function (mostActiveUsers) {

                                for (var i in mostActiveUsers) {

                                    var liElemMAU = document.createElement("li");
                                    var pLiElemMAU = document.createElement("p");
                                    var spanLiElemMAU = document.createElement("span");
                                    var textpMAU = document.createTextNode(mostActiveUsers[i].FirstName + " " + mostActiveUsers[i].LastName);
                                    var textSpanMAU = document.createTextNode("X");
                                    liElemMAU.setAttribute("class", "w3-display-container");
                                    spanLiElemMAU.setAttribute("onclick", "this.parentElement.style.display='none'");
                                    spanLiElemMAU.setAttribute("class", "w3-button w3-transparent w3-display-right");

                                    spanLiElemMAU.appendChild(textSpanMAU);
                                    pLiElemMAU.appendChild(textpMAU);
                                    liElemMAU.appendChild(pLiElemMAU);
                                    liElemMAU.appendChild(spanLiElemMAU);
                                    document.getElementById("getMostActiveUsers").appendChild(liElemMAU);
                                }
                            }
                        });
                    </script>
                </div>
            </div>

            <!--Calendar-->
            <div class="w3-card-4 aside-card">
                <header class="w3-container w3-teal">
                    <h3 class="w3-serif">Calendar</h3>
                </header>
                <div class="w3-container w3-padding-16">
                    <div id="my-calendar"></div>
                    <script>
                        const myCalendar = new TavoCalendar('#my-calendar', {
                            date: new Date(),
                            format: "DD-MM-YYYY",
                            locale: "ro",
                            selected: new Date(),
                            multi_select: false,
                            future_select: true,
                            past_select: false,
                            frozen: false,
                            highlight: [/*2012-12-23*/],
                            blacklist: [/*2012-12-24*/],
                            highligh_sunday: true,
                            highlight_saturday: true
                        })
                    </script>
                </div>
            </div>

        </div>

    </div>

    <footer class="w3-container w3-teal w3-center">
        <p>&copy; @DateTime.Now.Year - Canaro Trello - Task management web app. &copy; Socea Gabriel</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
