@model PagedList.IPagedList<Canaro_Trello.Models.ProjectDTO>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Projects list";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


@section PageTitle{
    <div class="w3-padding-16 w3-center">
        <h1 class="w3-serif">Projects list</h1>
    </div>
}

    <div>
        <p class="w3-button w3-teal w3-right menu-item">
            @Html.ActionLink("Create New", "AddProject")
        </p>
        <p class="w3-left sort-select-list">
            <div class="w3-dropdown-hover">
                <button class="w3-button">Sort<i class="material-icons">arrow_drop_down</i></button>
                <div class="w3-dropdown-content w3-bar-block w3-card-4 w3-center w3-padding-16">
                    <a href="/Projects/GetAllProjects?page=1&sort=1">Title ASC</a> <br /><hr />
                    <a href="/Projects/GetAllProjects?page=1&sort=2">Title DESC</a> <br /><hr />
                    <a href="/Projects/GetAllProjects?page=1&sort=3">Start date ASC</a> <br /><hr />
                    <a href="/Projects/GetAllProjects?page=1&sort=4">Start date DESC</a> <br /><hr />
                    <a href="/Projects/GetAllProjects?page=1&sort=5">Complexity</a>
                </div>
            </div>
        </p>
    </div>


<div class="w3-container">
    @foreach (var item in Model)
    {

        <div class="w3-card-4 custom-project-card">
            <header class="w3-container w3-tarhon w3-indent">
                <h3 class="w3-serif w3-left"><a href="/Projects/GetProject?index=@Html.DisplayFor(modelItem => item.ProjectId)">@Html.DisplayFor(modelItem => item.ProjectTitle)</a></h3>
                <div class="w3-right">
                    <a href="/Projects/EditProject?index=@Html.DisplayFor(modelItem => item.ProjectId)" title="Edit"><i class="material-icons" style="font-size:30px;color:white; padding-top: 10px">create</i></a>
                    <a href="/Projects/DeleteProject?index=@Html.DisplayFor(modelItem => item.ProjectId)"><i class="material-icons" style="font-size:30px;color:white; padding-right: 10px" title="Delete">delete</i></a>
                </div>
            </header>

            <div class="w3-container w3-padding">
                <div class="w3-padding">@Html.DisplayFor(modelItem => item.ProjectDescription)</div> <hr/>
                <div class="w3-left">
                    Start Date: @Html.DisplayFor(modelItem => item.ProjectStartDate) <br/>
                    Complexity:@Html.DisplayFor(modelItem => item.Complexity)
                </div>
                <div class="w3-right">
                    Version: @Html.DisplayFor(modelItem => item.Version)
                </div>
            </div>
        </div>
    }
</div>

<div class="w3-center w3-margin-top">
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("GetAllProjects", new { page }))
</div>
